/*===================================================================*\

	SquidGrid
	pre-alpha 0.0.5

	The cephalopod's choice for a
	lightweight CSS grid framework

	=======
	 Usage
	=======

	Assuming default values:

	<div class="sg">
		<div class="col col-1-2">
			A half-width column.
		</div>
		<div class="col col-1-4 col-pull-1-4">
			A quarter-width column, pulled left by one quauter. You get this, right?
		</div>
	</div>

	===============
	 Customisation
	===============

	$sg-name and $sg-column-name
	adjusts the class names for the grid. With
	default values, grid wrappers have a class
	of '.sg' and columns '.col'.

	$col-devisions: [n] adjusts column divisions.
	For example, $col-devisions: (12) will produce
	a 12-column grid. $col-devisions: (3, 6, 8)
	will produce a 3, 6, and 8-column grid.

	$sg-gutter is, you guessed it, the gutter
	width. Accepts any unit.

	That's it! Now get your suckers on it.

\*===================================================================*/

// Name
// This stops me from being overzealous with enforcing classes
$sg-name: "sg";
$sg-column-name: "col";

// $col-devisions are the column devisions you want
// For example, $col-devisions: (12, 16) will output:
// .col-[n]-12, .col-[n]-16
$col-devisions: (2, 3, 4, 6, 12);

// Gutter width
$sg-gutter: 20px;

// Breakpoints
$sg-breakpoint-medium: 700px;
$sg-breakpoint-small: 480px;

// Pushes and pulls
$sg-pushes: true;
$sg-pulls: true;

$sg-center-headings: true;

@import 'sg-base';
@import 'sg-typography';